body
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: url("assets/images/1.jpg") no-repeat;
    background-size: cover;
}
#grass
{
    background: url("assets/images/background-19861_1280.jpg") no-repeat;
    background-size: cover;
    height: 404px;
    width: 100%;
    display: inline-block;
    float: bottom;
    margin-top: 25rem;

}
nav
{
    height: 100%;
    width: 17%;
    background-color:  rgba(255,255,255,0.6);
    position: fixed;
    border-right: 2px solid saddlebrown;
}
.navBtn
{
    height: 100%;
    min-width: 2%;
    background-color: rgba(31, 31, 31, 0.8);
    border-right: 2px solid dimgray;
    position: fixed;
    margin-left: 17%;
    /*mix-blend-mode:difference;*/
    color: red;
    padding-top: 22%;
}
.hideMenuNav{
    width: 0%;
}
.hideMenuDiv{
    margin-left: 0%;
}
#udayanLogo
{

    position: fixed;
    margin-left: 40%;
    font-size: 5em;

}
.DBS
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.dustbin
{
    position: fixed;
    margin-left: 25%;
    margin-top: 20%;

}
#blueDB
{
    margin-left:35% ;
}
#yellowDB
{
    margin-left: 45% ;
}