body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }
canvas{ display: block; vertical-align: bottom; position: absolute;top: 0;z-index: 0; }
/* ---- particles.js container ---- */
#particles-js{ position:relative; width: 100%; height: 100%; background-color: #232741; }
/*#draggable,#draggable1,#draggable2,#draggable3,#draggable4,#draggable5,#draggable6,#draggable7,#draggable8,#draggable9,#draggable10,#draggable11,#draggable12,#draggable13{
    border-radius: 50%;
    width: 10rem;
    height: 5rem;
    border:5px solid #5026f9;
    position: fixed;
    top: 15rem;
    left:30rem;
    background:white;
    text-align: center;
    padding-top: 80px;
    font-size:23px;
    color:#5026f9;
    font-weight: bold;
    z-index: 1;
    transition: 1s ease, scale 2s;
    box-shadow: 2px 5px 20px 5px rgba(27, 27, 27, 0.75);

}*/
.details-node1 {

    position: fixed;
    text-align: center;
    padding-top: 20px;
    padding-left: 14px;
    color: #000000;
}

#draggable{
    border-radius: 50%;
    width: 10rem;
    height: 5rem;
    border:5px solid #5026f9;
    position: fixed;
    top: 45%;
    left:45%;
    background:white;
    text-align: center;
    padding-top: 80px;
    font-size:23px;
    color:#5026f9;
    font-weight: bold;
    z-index: 1;
    transition: 1s ease, scale 2s;
    box-shadow: 2px 5px 20px 5px rgba(27, 27, 27, 0.75);
}
.mem{
    border-radius: 50%;
    width: 10rem;
    height: 5rem;
    border:5px solid #5026f9;
    position: fixed;
    align-content: center;
    background:white;
    padding-top: 80px;
    font-size:10px;
    color:#5026f9;
    font-weight: bold;
    z-index: 1;
    transition: 1s ease, scale 2s;
    box-shadow: 2px 5px 20px 5px rgba(27, 27, 27, 0.75);
    overflow: hidden;
   
}
   #draggable1{                                                                
    left:125.821px;
    top: 393.837px;  

}
#draggable2{    
    left: 59.6568px;
    top : 195.329px;
        }
#draggable3{
    left: 196.656px;
     top: 26.6868px;}
#draggable4{left: 621.368px;
 top: 32.7747px;}
#draggable5{left: 953.286px; top: 28.6924px;}
#draggable6{left: 1056.88px; top: 409.896px;}
#draggable7{    left: 1063.78px; top: 195.581px;}
#draggable8{left: 761.423px; top: 449.939px;}
#draggable9{left: 457.976px; top: 434.679px;}
line{
    stroke:#5026f9;
    stroke-width:5px;
    transition: 1s ease;
    box-shadow: 2px 5px 20px 5px rgba(27, 27, 27, 0.75);

}
video{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    object-fit: fill;
}

.nodeOverlay
{
    background-color: black;
    z-index: 2;
    display: inline;
    width: 200px;
    height: 200px;
}
.mem:hover
{
    transform: scale(3);
    z-index: 2;
    font-size:7px;
}
.panel {

    position: relative;
    left: 0px;
    height: 60px;
    width : 157px;
    background-color: white;
    opacity : 0.5;
}
