body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }
canvas{ display: block; vertical-align: bottom; position: absolute;top: 0;z-index: 0; }
/* ---- particles.js container ---- */
#particles-js{ position:relative; width: 100%; height: 100%; background-color: #232741; }
/*#draggable,#draggable1,#draggable2,#draggable3,#draggable4,#draggable5,#draggable6,#draggable7,#draggable8,#draggable9,#draggable10,#draggable11,#draggable12,#draggable13{
    border-radius: 50%;
    width: 10rem;
    height: 5rem;
    border:5px solid #5026f9;
    position: fixed;
    top: 15rem;
    left:30rem;
    background:white;
    text-align: center;
    padding-top: 80px;
    font-size:23px;
    color:#5026f9;
    font-weight: bold;
    z-index: 1;
    transition: 1s ease, scale 2s;
    box-shadow: 2px 5px 20px 5px rgba(27, 27, 27, 0.75);

}*/
#draggable{
    border-radius: 50%;
    width: 10rem;
    height: 5rem;
    border:5px solid #5026f9;
    position: fixed;
    top: 45%;
    left:45%;
    background:white;
    text-align: center;
    padding-top: 80px;
    font-size:23px;
    color:#5026f9;
    font-weight: bold;
    z-index: 1;
    transition: 1s ease, scale 2s;
    box-shadow: 2px 5px 20px 5px rgba(27, 27, 27, 0.75);
}
.mem{
    border-radius: 50%;
    width: 10rem;
    height: 5rem;
    border:5px solid #5026f9;
    position: fixed;
    
    background:white;
    text-align: center;
    padding-top: 80px;
    font-size:23px;
    color:#5026f9;
    font-weight: bold;
    z-index: 1;
    transition: 1s ease, scale 2s;
    box-shadow: 2px 5px 20px 5px rgba(27, 27, 27, 0.75);
}
#draggable1{
    top:21.7446px;
    left: 122.341px;    
}
#draggable2{    left: 481.578px;
    top: -21.9996px;}
#draggable3{left: 842.227px;
    top: 54.7514px;}
#draggable4{top: 46.6208px;
    left: 1136.08px;}
#draggable5{top: 125.552px;
    left: 1429.64px;}
#draggable6{    top: 446.269px;
    left: 1338.49px;}
#draggable7{    left: 1602.96px;
    top: 386.598px;}
#draggable8{top: 684.382px;
    left: 1252.86px;}
#draggable9{left: 951.966px;
    top: 657.428px;}
#draggable10{    left: 587.126px;
    top: 627.318px;}
#draggable11{    top: 768.94px;
    left: 349.49px;}
#draggable12{    top: 525.178px;
    left: 317.751px;}
#draggable13{    top: 321.223px;
    left: 260.914px;}
line{
    stroke:#5026f9;
    stroke-width:5px;
    transition: 1s ease;
    box-shadow: 2px 5px 20px 5px rgba(27, 27, 27, 0.75);

}
video{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    object-fit: fill;
}

.nodeOverlay
{
    background-color: black;
    z-index: 2;
    display: inline;
    width: 200px;
    height: 200px;
}
.mem:hover
{
    transform: scale(3);
}
