
body {
	background:#111;	
	font-size:18px;
	color:#FFF;
}
h1 {
  font-size:2em;
  text-align:center;
  margin:20px 0 40px;
  padding:0;
}
.container {
	background:#222;
	width:100%;
	margin:0 auto;
	overflow:auto;
	padding:2%;
}
.right-content, .left-content {
	float:left;
	display:block;
	width:40%;
	padding:1% 2%;
}
.left-content {
	border-right:45px solid transparent;	
	text-align:right;
	-webkit-border-image: url(../assets/temporary/trunk.png) 50  round; /* Safari 3.1-5 */
    -o-border-image: url(../assets/temporary/trunk.png) 50  round; /* Opera 11-12.1 */
    border-image: url(../assets/temporary/trunk.png) 50  round;
}
.left-content div {
	margin:80px 0 0;
}
.right-content div {
	margin:80px 0 150px;
}
.container div {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;	
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}
.imgl
{

	height: 150px;
    top: 42px;
    width: 130px;
    /* float: left; */
    position: relative;
    right: 36px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.46);

}
.imgr
{
	/* height: 200px;
	width: 200px;
	float: right; */
	   height: 150px;
    top: 42px;
    width: 130px;
    /* float: left; */
    position: relative;
    right: -36px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.46);
}
.box>span{
	bottom:52px;
}
.boxr>span{
	 bottom:52px;
}