.object
{
    width: 6rem;
    height:6rem;
    padding: 5%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin:.5em;
    
    text-align: center;
    border: 3px solid white;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 0px;
}
.flexBox div:hover
{
    border: 3px solid slategrey;
    transform: scale(1.2);
    box-shadow: 25px 25px 18px rgba(0,0,0,0.4);
}
.flexBox div:active
{
    transform: scale(1.1);
    border:3px solid #fcffc7;
}
.flexBox div i{
    margin-bottom: 0.3em;
}
.flexBox
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 19em;
    margin-left: 0;
    margin-right: 0;  
}
.one{
   // background: rgb(106, 86, 179);
   // opacity: 0.5;  
}

.two{
   // background-color: rgb(151, 117, 12);
   // opacity: 0.3;  
}
.three
{
    //background-color: rgb(227, 94, 137);
   // opacity: 0.5;  
}
.four
{
   // background-color: rgb(76, 100, 88);
  //  opacity: 0.5;  
}
.five
{
    //background-color: rgb(178, 173, 150);
  //  opacity: 0.5;  
}
.six
{
    //background-color: rgb(235, 85, 61);
  //  opacity: 0.5;  
}
.seven
{
   // background-color: rgb(91, 236, 61);
   // opacity: 0.5;  
}
.eight
{
    //background-color: rgb(251, 65, 83);
   // opacity: 0.5;  
}
.nine
{
    //background-color: rgb(9, 158, 207);
   // opacity: 0.5;  
}
body
{
    background: url(images/event1.png) repeat;
    background-size: cover;  
    
}