body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background: url("../assets/mobile/mobilebg.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#mNavBtn
{
    position: fixed;
    margin-left: 2%;
    margin-top: 2%;
}